SUPABASE_URL = <SUPABASE_URL>
SUPABASE_SERVICE_ROLE_KEY = <SUPABASE_SERVICE_ROLE_KEY>
SUPABASE_ANON_KEY = <SUPABASE_ANON_KEY>

FRONTEND_ORIGIN=http://localhost:3000
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
