# POST api
TWITCH_CLIENT_SECRET = <TWITCH_API_KEY>
TWITCH_CLIENT_ID = <TWITCH_CLIENT_ID>
grant_type = "client_credentials"

#supabase
SUPABASE_SERVICE_ROLE_KEY = <SUPABASE SECRET >
SUPABASE_URL = <SUPABASE PROJ URL>
